head link icon {
    border-radius: 20%;
}

body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
}

header{
    background-color: aqua;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1px;
}

h1, h2 {
    font-family: 'Roboto Mono', monospace;
}

h1{
    color: white;
    font-size: 50px;
    margin:20px 0px 1px;
}
header img{
    border-radius: 85px ;
    width: 150px;
    height: 150px;
    border: 10px solid rgb(59, 183, 255);
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    color: aqua;
    margin: 40px 0 10px;
}

a{color: aqua;
    
}
a:hover{
    color: blue;
}
footer{
    background-color: aqua;
    text-align: center;
    color: white;
    padding: 30px;
}
footer p{
    margin: 0;
}

footer a{
    color: white;
}
footer a:hover{
    opacity: .5;
    background-color: transpatent;
    }
p.caption{
    color: aquamarine;
    font-style: italic;
    margin-top: -12px;
    line-height: 3px;
}